
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}



@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
{
    @Html.AntiForgeryToken() // this is for prevent CSRF attack

    <input placeholder="Enter your user name" name="UserName" type="text" id="userName" required="" autocomplete="off">
    <span class="icon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
    <input placeholder="Enter Password" name="Password" type="password" required="">
    <span class="icon2"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
    <div class="checkbox-w3">
        <span class="check-w3"><input type="checkbox" />Remember Me</span>
          <a href="#"></a>
        <div class="clear"></div>
    </div>
    <div class="form-group error">
        @if (@ViewBag.Failedcount != null)
        {

            <label> Failed Attempt count is: @ViewBag.Failedcount</label>
        }

        @if (@ViewBag.NotValidUser != null)
        {

            <label> @ViewBag.NotValidUser</label>
        }
    </div>
    
    <input type="submit" value="Submit">
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



