@model FAB_Merchant_Portal.Models.ExportRequest


@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Layout = null;
}

@{
    decimal totalTransactionValue = ViewBag.TotalTransactionValue;

    int totalTransactionVolume = ViewBag.TotalTransactionVolume;
}

<!-- BREADCRUMB-->
<section class="au-breadcrumb m-t-75">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="#">Home</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Bank Report</li>
                            </ul>
                        </div>
                        @*<button class="au-btn au-btn-icon au-btn--green">
                                <i class="zmdi zmdi-plus"></i>add item
                            </button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END BREADCRUMB-->
<!-- STATISTIC-->
<section class="statistic">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="statistic__item">
                        <h2 class="number">@totalTransactionVolume</h2>
                        <span class="desc">Total Daily Transactions Volume</span>
                        <div class="icon">
                            <i class="zmdi zmdi-account-o"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="statistic__item">
                        <h2 class="number">@totalTransactionVolume</h2>
                        <span class="desc">Total Daily Transactions Value</span>
                        <div class="icon">
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END STATISTIC-->

<section>
    <div class="section__content section__content--p30">
        <div class="container-fluid">

            <div id="search-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="input-group date" data-provide="datepicker">
                                @Html.TextBoxFor(m => m.StartDate, "{0:dd MMM yyyy}", new { @class = "form-control DatePicker", @id = "StartDate" })
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="input-group date" data-provide="datepicker">
                                @Html.TextBoxFor(m => m.EndDate, "{0:dd MMM yyyy}", new { @class = "form-control DatePicker", @id = "EndDate" })
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <span>Export  to</span>
                            @Html.ActionLink("EXCEL", "ExportExcel", null, new { @class = "btn btn-primary", @id = "ExcelExporter" })
                            @Html.ActionLink("PDF", "ExportPdf", null, new { @class = "btn btn-primary", @id = "PDFExporter" })
                            @*<div class="dropdown">
                                    <button class="dropbtn">Export To</button>
                                    <div class="dropdown-content">

                                        @Html.ActionLink("EXCEL", "ExportExcel", null, new { @class = "btn btn-primary", @id = "ExcelExporter" })
                                        @Html.ActionLink("PDF", "ExportPdf", null, new { @class = "btn btn-primary", @id = "PDFExporter" })

                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <!-- RECENT REPORT 2-->
                    <table id="bankTransactionTable" class="ui celled table">
                        <thead>
                            <tr>
                                <th>Amount</th>
                                <th>Transaction Type</th>
                                <th>Third Party Reference</th>
                                <th>Core Banking Reference</th>
                                <th>Transaction Status</th>
                                <th>Teller Id</th>
                                <th>Branch Code</th>
                                <th>Entry Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Amount</th>
                                <th>Transaction Type</th>
                                <th>Third Party Reference</th>
                                <th>Core Banking Reference</th>
                                <th>Transaction Status</th>
                                <th>Teller Id</th>
                                <th>Branch Code</th>
                                <th>Entry Date</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- END RECENT REPORT 2             -->
                </div>

            </div>
        </div>
    </div>
</section>
